In [1]:
import pandas as pd
import re

https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016

# 1 скачать и загрузить данные

In [2]:
data = pd.read_csv("/home/olga/Documents/teaching/machine_Learning/kaggle/suisade/master.csv")

# 2  посмотреть общую информацию о данных

In [21]:
data.head()

,country,year,sex,age,suicides_no,population,suicides/100k_pop,HDI_for_year,gdp_for_year($),gdp_per_capita($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,NaN,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,NaN,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,NaN,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,NaN,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,NaN,2156624900,796,Boomers

In [4]:
data.tail()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 11 columns):
country              27820 non-null object
year                 27820 non-null int64
sex                  27820 non-null object
age                  27820 non-null object
suicides_no          27820 non-null int64
population           27820 non-null int64
suicides/100k_pop    27820 non-null float64
HDI_for_year         8364 non-null float64
gdp_for_year($)      27820 non-null int64
gdp_per_capita($)    27820 non-null int64
generation           27820 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 2.3+ MB

In [19]:
data.describe()

,year,suicides_no,population,suicides/100k_pop,HDI_for_year,gdp_for_year($),gdp_per_capita($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,2.782000e+04,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,4.455810e+11,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,1.453610e+12,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,4.691962e+07,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,8.985353e+09,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,4.811469e+10,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,2.602024e+11,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,1.812071e+13,126352.000000

In [20]:
data.describe(include=[object])

        country    sex          age    generation
count     27820  27820        27820         27820
unique      101      2            6             6
top     Iceland   male  35-54 years  Generation X
freq        382  13910         4642          6408

In [8]:
data.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year',
       ' gdp_for_year ($) ', 'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [9]:
data.columns = ['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k_pop', 'country-year', 'HDI_for_year',
       'gdp_for_year($)', 'gdp_per_capita($)', 'generation']

# 3 перевести данные в более читаемый формат

### 3.1  перевести gdp_for_year в числа из object 

(если не понимаешь, почему не получается работать с колонкой - подсказка 1 в файле)

In [10]:
def str_gdp2num(num:str)->int:
    num = num.split(",")
    num = "".join(num)
    return int(num)

str_gdp2num("2,156,624,900")

2156624900

In [11]:
data["gdp_for_year($)"] = data["gdp_for_year($)"].apply(str_gdp2num)
data["gdp_for_year($)"].head()

0    2156624900
1    2156624900
2    2156624900
3    2156624900
4    2156624900
Name: gdp_for_year($), dtype: int64

### 3.2  проверить, что country-year дублирует информцию. если да - удалить её

один из возможных вариантов разделения текста и цифр - модуль re и функция groups тебе в помощь

если не получается - подсказка 2

In [12]:
def split_country_year(data:str)->list:
    temp = re.compile("([a-zA-Z\ ]+)([0-9]+)")
    res = temp.match(data).groups() 
    return res
    
split_country_year("djsd kjfk87435")

('djsd kjfk', '87435')

In [13]:
data["country-year"] = data["country-year"].apply(split_country_year)

In [14]:
(data.country == data["country-year"].apply(lambda x:x[0])).all()

True

In [15]:
(data.year == data["country-year"].apply(lambda x:int(x[1]))).all()

True

In [17]:
data.drop(["country-year"], axis=1, inplace=True)
data

,country,year,sex,age,suicides_no,population,suicides/100k_pop,HDI_for_year,gdp_for_year($),gdp_per_capita($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,NaN,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,NaN,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,NaN,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,NaN,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,NaN,2156624900,796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,NaN,2156624900,796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,NaN,2156624900,796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,NaN,2156624900,796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,NaN,2156624900,796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,NaN,2156624900,796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,NaN,2156624900,796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,NaN,2156624900,796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,NaN,2126000000,769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,NaN,2126000000,769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,NaN,2126000000,769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,NaN,2126000000,769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,NaN,2126000000,769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,NaN,2126000000,769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,NaN,2126000000,769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,NaN,2126000000,769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,NaN,2126000000,769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,NaN,2126000000,769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,NaN,2126000000,769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,NaN,2126000000,769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,NaN,2335124988,833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,NaN,2335124988,833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,NaN,2335124988,833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,NaN,2335124988,833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,NaN,2335124988,833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,NaN,2335124988,833,Silent
...,...,...,...,...,...,...,...,...,...,...,...
27790,Uzbekistan,2012,female,25-34 years,148,2556673,5.79,0.668,51821573338,1964,Millenials
27791,Uzbekistan,2012,female,35-54 years,89,3474788,2.56,0.668,51821573338,1964,Generation X
27792,Uzbekistan,2012,male,5-14 years,67,2701361,2.48,0.668,51821573338,1964,Generation Z
27793,Uzbekistan,2012,female,55-74 years,25,1283060,1.95,0.668,51821573338,1964,Boomers
27794,Uzbekistan,2012,female,75+ years,4,338557,1.18,0.668,51821573338,1964,Silent
27795,Uzbekistan,2012,female,5-14 years,16,2578408,0.62,0.668,51821573338,1964,Generation Z
27796,Uzbekistan,2013,male,35-54 years,481,3346411,14.37,0.672,57690453461,2150,Generation X
27797,Uzbekistan,2013,male,25-34 years,328,2644648,12.40,0.672,57690453461,2150,Millenials
27798,Uzbekistan,2013,female,15-24 years,323,3039740,10.63,0.672,57690453461,2150,Millenials
27799,Uzbekistan,2013,male,15-24 years,320,3171202,10.09,0.672,57690453461,2150,Millenials
27800,Uzbekistan,2013,male,55-74 years,119,1202790,9.89,0.672,57690453461,2150,Boomers
27801,Uzbekistan,2013,male,75+ years,13,221002,5.88,0.672,57690453461,2150,Silent
27802,Uzbekistan,2013,female,25-34 years,146,2647820,5.51,0.672,57690453461,2150,Millenials
27803,Uzbekistan,2013,female,35-54 years,99,3547895,2.79,0.672,57690453461,2150,Generation X
27804,Uzbekistan,2013,female,75+ years,8,345180,2.32,0.672,57690453461,2150,Silent
27805,Uzbekistan,2013,male,5-14 years,61,2720938,2.24,0.672,57690453461,2150,Generation Z
27806,Uzbekistan,2013,female,55-74 years,21,1356298,1.55,0.672,57690453461,2150,Boomers
27807,Uzbekistan,2013,female,5-14 years,31,2595000,1.19,0.672,57690453461,2150,Generation Z
27808,Uzbekistan,2014,male,35-54 years,519,3421300,15.17,0.675,63067077179,2309,Generation X
27809,Uzbekistan,2014,male,25-34 years,318,2739150,11.61,0.675,63067077179,2309,Millenials
27810,Uzbekistan,2014,female,15-24 years,347,2992817,11.59,0.675,63067077179,2309,Millenials
27811,Uzbekistan,2014,male,55-74 years,144,1271111,11.33,0.675,63067077179,2309,Boomers
27812,Uzbekistan,2014,male,15-24 years,347,3126905,11.10,0.675,63067077179,2309,Millenials
27813,Uzbekistan,2014,male,75+ years,17,224995,7.56,0.675,63067077179,2309,Silent
27814,Uzbekistan,2014,female,25-34 years,162,2735238,5.92,0.675,63067077179,2309,Millenials
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,0.675,63067077179,2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,0.675,63067077179,2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,0.675,63067077179,2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,0.675,63067077179,2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,0.675,63067077179,2309,Boomers

### 3.3 проверить есть ли связь между возрастом и поколением

если информация дублируется - удалить

In [31]:
age_gen.age.value_counts()

35-54 years    4642
75+ years      4642
15-24 years    4642
25-34 years    4642
55-74 years    4642
5-14 years     4610
Name: age, dtype: int64

In [36]:
age_gen.generation.value_counts()

Generation X       6408
Silent             6364
Millenials         5844
Boomers            4990
G.I. Generation    2744
Generation Z       1470
Name: generation, dtype: int64

In [24]:
age_gen = data[["age", "generation"]]

In [41]:
age_gen[age_gen.age == "75+ years"].generation.value_counts()

Silent             2528
G.I. Generation    2114
Name: generation, dtype: int64

### 3.4 проверить, уникален ли год для страны. если нет - какие года есть

In [53]:
country_info = pd.DataFrame
for country in set(data.country.values):
    print(country)
    print(data[data.country == country].year.unique())

Luxembourg
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Iceland
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016]
Armenia
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016]
Russian Federation
[1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002
 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015]
Kiribati
[1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001]
Brazil
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Oman
[2009 2010 2014]
Chile
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Slovenia
[1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008
 2009 2010 2011 2012 2013 2014 2015]
El Salvador
[1990 1991 1992 1993 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004
 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014]
Czech Republic
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016]
Qatar
[1995 2001 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
Bahrain
[1985 1987 1988 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007
 2008 2009 2010 2011 2012 2013 2014]
South Africa
[1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009
 2010 2011 2012 2013 2014 2015]
Spain
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Belarus
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2007 2008 2009 2010 2011 2013 2014]
Cyprus
[1999 2000 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015
 2016]
Seychelles
[1985 1986 1987 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
Azerbaijan
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2007]
Bulgaria
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014]
New Zealand
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013]
Dominica
[1985]
Latvia
[1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008
 2009 2010 2011 2012 2013 2014 2015]
Australia
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015]
United States
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Aruba
[1995 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011]
Barbados
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 2000 2001 2002
 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013]
Macau
[1994]
Albania
[1987 1988 1989 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002
 2003 2004 2005 2006 2007 2008 2009 2010]
Kuwait
[1985 1986 1987 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014]
Uzbekistan
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2009 2010 2011 2012 2013 2014]
Hungary
[1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004
 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016]
Estonia
[1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008
 2009 2010 2011 2012 2013 2014 2015]
Netherlands
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016]
Sweden
[1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000
 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014
 2015 2016]
Paraguay
[1985 1986 1987 1989 1990 1991 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014]
Greece
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
United Kingdom
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Austria
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016]
Germany
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015]
Ukraine
[1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000
 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2014 2015]
Costa Rica
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014]
Suriname
[1985 1986 1987 1988 1989 1990 1991 1992 1995 1996 1997 1998 1999 2000
 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014]
Lithuania
[1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008
 2009 2010 2011 2012 2013 2014 2015 2016]
Uruguay
[1985 1986 1987 1988 1989 1990 1993 1994 1995 1996 1997 1998 1999 2000
 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2012 2013 2014 2015]
Republic of Korea
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Belgium
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Guatemala
[1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999
 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015]
Malta
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Kazakhstan
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015]
San Marino
[1999 2000 2005]
Switzerland
[1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008
 2009 2010 2011 2012 2013 2014 2015]
Ecuador
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Cuba
[1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015]
Sri Lanka
[1985 1986 1996 1997 1998 1999 2000 2001 2002 2003 2006]
Guyana
[1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2001 2002
 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013]
Denmark
[1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007
 2008 2009 2010 2011 2012 2013 2014 2015]
Colombia
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Mongolia
[2016]
Ireland
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014]
Romania
[1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002
 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016]
Norway
[1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999
 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013
 2014 2015]
Japan
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Cabo Verde
[2011]
Italy
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Serbia
[1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015]
France
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014]
Slovakia
[1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2012 2013 2014]
Puerto Rico
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Grenada
[1985 1988 1989 1990 1991 1992 1993 1994 1995 1996 2001 2002 2003 2004
 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016]
Mauritius
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015 2016]
Poland
[1990 1991 1992 1993 1994 1995 1996 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015]
Trinidad and Tobago
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011]
Maldives
[2000 2001 2002 2003 2004 2005 2007 2008 2010 2011]
Belize
[1986 1987 1989 1990 1991 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015]
Montenegro
[2000 2001 2002 2003 2004 2005 2006 2007 2008 2009]
Turkmenistan
[1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000
 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014
 2015]
Saint Vincent and Grenadines
[1985 1986 1987 1990 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004
 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015]
Portugal
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2007 2008 2009 2010 2011 2012 2013 2014]
Croatia
[1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008
 2009 2010 2011 2012 2013 2014 2015 2016]
Bosnia and Herzegovina
[2011 2014]
United Arab Emirates
[2005 2006 2007 2008 2009 2010]
Fiji
[2001 2002 2003 2004 2005 2006 2007 2008 2009 2011 2012]
Panama
[1985 1986 1987 1988 1989 1996 1997 1998 1999 2000 2001 2002 2003 2004
 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015]
Antigua and Barbuda
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1998 1999 2000
 2001 2002 2003 2004 2005 2006 2007 2008 2009 2012 2013 2014 2015]
Argentina
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Georgia
[1990 1991 1992 1994 1995 1996 1997 1998 1999 2000 2001 2004 2005 2006
 2007 2009 2010 2011 2012 2013 2014 2015]
Mexico
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Israel
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Thailand
[1985 1986 1987 1990 1991 1992 1994 1995 1996 1997 1998 1999 2000 2002
 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016]
Saint Kitts and Nevis
[1990 1991 1992]
Turkey
[2009 2010 2011 2012 2013 2014 2015]
Kyrgyzstan
[1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003
 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015]
Bahamas
[1985 1987 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004
 2005 2006 2007 2008 2009 2010 2011 2012 2013]
Nicaragua
[2010 2011 2012 2013 2014 2015]
Philippines
[1992 1993 1997 1998 1999 2000 2001 2002 2003 2006 2007 2008 2009 2010
 2011]
Finland
[1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000
 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014
 2015]
Canada
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013]
Jamaica
[1985 1986 1987 1988 1989 1990 1991 2000 2001 2002 2003 2004 2005 2006
 2009 2010 2011]
Singapore
[1985 1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998
 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
 2013 2014 2015]
Saint Lucia
[1986 1987 1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999
 2000 2001 2002 2003 2004 2005 2006 2008 2009 2010 2011 2012 2013 2014]

# 4 анализ

### 4.1 посчтать количество самоубийств по странам  годам

то есть процент и количество человек умерло в стране независимо от возраста, пола, ...

можешь где-то хранить (листы, словари, датафрейм), можешь просто распечатать

In [56]:
country_info = pd.DataFrame
for country in data.country.unique():
    data_country = data[data.country == country]
    print(country)
    for year in data_country.year.unique():
        print(year, data_country[data_country.year == year].suicides_no.sum())

Albania
1987 73
1988 63
1989 68
1992 47
1993 73
1994 50
1995 88
1996 89
1997 170
1998 154
1999 139
2000 54
2001 119
2002 133
2003 124
2004 146
2005 0
2006 0
2007 124
2008 160
2009 0
2010 96
Antigua and Barbuda
1985 0
1986 0
1987 0
1988 0
1989 0
1990 1
1991 0
1992 0
1993 1
1994 0
1995 0
1998 0
1999 0
2000 2
2001 2
2002 0
2003 1
2004 2
2005 0
2006 0
2007 1
2008 0
2009 0
2012 0
2013 0
2014 0
2015 1
Argentina
1985 1988
1986 2284
1987 2286
1988 2354
1989 2247
1990 2140
1991 1951
1992 2184
1993 2230
1994 2241
1995 2204
1996 2229
1997 2184
1998 2347
1999 2423
2000 2774
2001 3132
2002 3162
2003 3289
2004 3121
2005 3058
2006 3108
2007 2946
2008 3059
2009 2884
2010 2943
2011 2912
2012 3248
2013 2987
2014 3231
2015 3073
Armenia
1990 93
1991 80
1992 83
1993 106
1994 112
1995 130
1996 87
1997 77
1998 66
1999 67
2000 61
2001 60
2002 74
2003 59
2006 78
2007 71
2008 63
2009 53
2010 73
2011 67
2012 79
2013 67
2014 58
2015 74
2016 67
Aruba
1995 8
1999 9
2000 10
2001 4
2002 9
2003 2
2004 8
2005 10
2006 9
2007 8
2008 4
2009 4
2010 7
2011 9
Australia
1985 1861
1986 2044
1987 2164
1988 2172
1989 2066
1990 2202
1991 2288
1992 2251
1993 2038
1994 2283
1995 2170
1996 2426
1997 2646
1998 2632
1999 2488
2000 2391
2001 2458
2002 2319
2003 2156
2004 2114
2006 2117
2007 2229
2008 2341
2009 2337
2010 2420
2011 2392
2012 2580
2013 2608
2014 2891
2015 3027
Austria
1985 2091
1986 2139
1987 2069
1988 1851
1989 1898
1990 1825
1991 1769
1992 1759
1993 1704
1994 1776
1995 1788
1996 1779
1997 1592
1998 1559
1999 1555
2000 1588
2001 1489
2002 1553
2003 1456
2004 1422
2005 1399
2006 1297
2007 1285
2008 1267
2009 1278
2010 1264
2011 1288
2012 1276
2013 1291
2014 1314
2015 1251
2016 1201
Azerbaijan
1990 114
1991 134
1992 144
1993 119
1994 47
1995 49
1996 69
1997 107
1998 56
1999 54
2000 62
2001 317
2002 92
2003 129
2004 108
2007 55
Bahamas
1985 1
1987 3
1993 7
1994 3
1995 2
1996 3
1997 2
1998 3
1999 6
2000 11
2001 1
2002 3
2003 1
2004 2
2005 4
2006 2
2007 5
2008 4
2009 6
2010 10
2011 4
2012 5
2013 5
Bahrain
1985 11
1987 9
1988 14
1997 0
1998 0
1999 17
2000 29
2001 23
2002 25
2003 34
2004 42
2005 42
2006 28
2007 40
2008 43
2009 36
2010 19
2011 18
2012 19
2013 5
2014 9
Barbados
1985 7
1986 8
1987 6
1988 12
1989 16
1990 16
1991 17
1992 14
1993 16
1994 14
1995 17
2000 10
2001 2
2002 0
2003 0
2004 3
2005 1
2006 9
2007 0
2008 1
2009 5
2010 3
2011 0
2012 0
2013 0
Belarus
1990 2085
1991 2169
1992 2424
1993 2885
1994 3153
1995 3203
1996 3627
1997 3526
1998 3556
1999 3397
2000 3483
2001 3303
2002 3291
2003 3456
2007 2659
2008 2658
2009 2743
2010 2459
2011 2172
2013 1902
2014 1741
Belgium
1985 2281
1986 2202
1987 2238
1988 1996
1989 1920
1990 1895
1991 1805
1992 1878
1993 2142
1994 2131
1995 2155
1996 2013
1997 2146
1998 2019
1999 1857
2000 2143
2001 2165
2002 2076
2003 2091
2004 1987
2005 2029
2006 1935
2007 1857
2008 1999
2009 2013
2010 2013
2011 2088
2012 2026
2013 1895
2014 1899
2015 1867
Belize
1986 3
1987 4
1989 1
1990 3
1991 2
1993 1
1994 8
1995 14
1996 8
1997 1
1998 12
1999 18
2000 18
2001 19
2002 14
2003 12
2004 20
2005 12
2006 11
2007 8
2008 11
2009 15
2010 15
2011 33
2012 18
2013 17
2014 24
2015 26
Bosnia and Herzegovina
2011 5
2014 313
Brazil
1985 4228
1986 4271
1987 4672
1988 4466
1989 4463
1990 4803
1991 5156
1992 5207
1993 5508
1994 5896
1995 6536
1996 6698
1997 6891
1998 6922
1999 6507
2000 6763
2001 7710
2002 7697
2003 7839
2004 7995
2005 8529
2006 8618
2007 8855
2008 9184
2009 9346
2010 9429
2011 9822
2012 10295
2013 10513
2014 10631
2015 11163
Bulgaria
1985 1456
1986 1408
1987 1492
1988 1452
1989 1460
1990 1323
1991 1384
1992 1519
1993 1470
1994 1464
1995 1433
1996 1526
1997 1465
1998 1503
1999 1307
2000 1383
2001 1314
2002 1317
2003 1092
2004 1013
2005 982
2006 977
2007 902
2008 939
2009 868
2010 859
2011 763
2012 872
2013 721
2014 724
Cabo Verde
2011 42
Canada
1985 3258
1986 3670
1987 3591
1988 3510
1989 3491
1990 3378
1991 3593
1992 3708
1993 3803
1994 3748
1995 3968
1996 3941
1997 3681
1998 3699
1999 4074
2000 3606
2001 3694
2002 3650
2003 3765
2004 3613
2005 3743
2006 3512
2007 3611
2008 3705
2009 3890
2010 3951
2011 3728
2012 3926
2013 4054
Chile
1985 683
1986 654
1987 693
1988 697
1989 725
1990 743
1991 787
1992 658
1993 740
1994 801
1995 930
1996 917
1997 910
1998 1031
1999 1041
2000 1473
2001 1625
2002 1603
2003 1654
2004 1735
2005 1682
2006 1795
2007 1848
2008 2088
2009 2148
2010 2001
2011 2027
2012 1841
2013 1738
2014 1789
2015 1838
Colombia
1985 1001
1986 958
1987 951
1988 912
1989 831
1990 865
1991 1010
1992 1086
1993 1085
1994 1198
1995 1150
1996 1209
1997 1242
1998 2052
1999 2143
2000 2358
2001 2412
2002 2379
2003 2269
2004 2244
2005 2102
2006 2177
2007 2181
2008 2220
2009 2249
2010 2107
2011 2044
2012 2119
2013 2068
2014 2126
2015 2332
Costa Rica
1985 128
1986 131
1987 119
1988 138
1989 167
1990 157
1991 125
1992 149
1993 164
1994 162
1995 209
1996 209
1997 187
1998 223
1999 233
2000 239
2001 198
2002 275
2003 315
2004 325
2005 272
2006 350
2007 270
2008 261
2009 278
2010 311
2011 316
2012 302
2013 311
2014 268
Croatia
1995 929
1996 1001
1997 946
1998 1029
1999 989
2000 926
2001 881
2002 874
2003 865
2004 871
2005 874
2006 796
2007 775
2008 793
2009 790
2010 776
2011 702
2012 776
2013 692
2014 722
2015 739
2016 683
Cuba
1992 2299
1993 2374
1994 2278
1995 2222
1996 2014
1997 2029
1998 2056
1999 2050
2000 1845
2001 1652
2002 1606
2003 1499
2004 1515
2005 1397
2006 1376
2007 1307
2008 1377
2009 1477
2010 1558
2011 1529
2012 1495
2013 1499
2014 1453
2015 1511
Cyprus
1999 1
2000 7
2004 7
2005 17
2006 19
2007 19
2008 41
2009 32
2010 38
2011 30
2012 36
2013 45
2014 44
2015 40
2016 36
Czech Republic
1990 1997
1991 1904
1992 1991
1993 1917
1994 1872
1995 1733
1996 1568
1997 1666
1998 1613
1999 1610
2000 1649
2001 1623
2002 1534
2003 1719
2004 1583
2005 1565
2006 1400
2007 1379
2008 1379
2009 1464
2010 1502
2011 1590
2012 1658
2013 1577
2014 1489
2015 1387
2016 1318
Denmark
1994 999
1995 924
1996 892
1997 817
1998 763
1999 762
2000 728
2001 727
2002 688
2003 633
2004 661
2005 631
2006 650
2007 581
2008 603
2009 622
2010 563
2011 589
2012 661
2013 610
2014 629
2015 564
Dominica
1985 0
Ecuador
1985 393
1986 377
1987 390
1988 466
1989 431
1990 448
1991 494
1992 505
1993 574
1994 512
1995 546
1996 593
1997 579
1998 546
1999 616
2000 534
2001 584
2002 577
2003 675
2004 791
2005 943
2006 900
2007 1005
2008 928
2009 964
2010 912
2011 918
2012 976
2013 676
2014 734
2015 1073
El Salvador
1990 571
1991 474
1992 419
1993 424
1995 620
1996 540
1997 577
1998 512
1999 515
2000 461
2001 514
2002 436
2003 527
2004 464
2005 455
2006 411
2007 501
2008 490
2009 506
2010 399
2011 485
2012 512
2013 484
2014 386
Estonia
1995 594
1996 545
1997 522
1998 477
1999 468
2000 377
2001 401
2002 371
2003 342
2004 323
2005 273
2006 247
2007 251
2008 242
2009 269
2010 223
2011 218
2012 237
2013 218
2014 241
2015 195
Fiji
2001 36
2002 42
2003 10
2004 24
2005 22
2006 24
2007 13
2008 37
2009 26
2011 38
2012 32
Finland
1987 1363
1988 1402
1989 1413
1990 1512
1991 1493
1992 1451
1993 1397
1994 1387
1995 1388
1996 1247
1997 1322
1998 1228
1999 1207
2000 1165
2001 1204
2002 1095
2003 1075
2004 1064
2005 994
2006 1062
2007 995
2008 1033
2009 1034
2010 954
2011 912
2012 873
2013 887
2014 789
2015 731
France
1985 12501
1986 12529
1987 12161
1988 11599
1989 11715
1990 11403
1991 11502
1992 11644
1993 12251
1994 12041
1995 11819
1996 11279
1997 11139
1998 10534
1999 10268
2000 10849
2001 10449
2002 10643
2003 10871
2004 10804
2005 10713
2006 10423
2007 10127
2008 10353
2009 10499
2010 10379
2011 10408
2012 9743
2013 9600
2014 8881
Georgia
1990 196
1991 174
1992 204
1994 123
1995 138
1996 162
1997 176
1998 148
1999 189
2000 130
2001 100
2004 175
2005 87
2006 72
2007 104
2009 188
2010 112
2011 99
2012 104
2013 157
2014 194
2015 192
Germany
1990 13924
1991 14010
1992 13458
1993 12690
1994 12718
1995 12888
1996 12225
1997 12256
1998 11654
1999 11160
2000 11073
2001 11167
2002 11176
2003 11155
2004 10741
2005 10270
2006 9775
2007 9409
2008 9459
2009 9579
2010 10030
2011 10153
2012 9896
2013 10091
2014 10217
2015 10088
Greece
1985 405
1986 393
1987 410
1988 403
1989 383
1990 349
1991 381
1992 351
1993 412
1994 355
1995 370
1996 356
1997 374
1998 403
1999 381
2000 382
2001 334
2002 323
2003 375
2004 353
2005 400
2006 394
2007 328
2008 373
2009 391
2010 377
2011 477
2012 508
2013 533
2014 565
2015 529
Grenada
1985 1
1988 4
1989 4
1990 2
1991 0
1992 0
1993 3
1994 4
1995 1
1996 1
2001 0
2002 0
2003 4
2004 1
2005 6
2006 1
2007 3
2008 0
2009 0
2010 0
2011 1
2012 2
2013 0
2014 0
2015 0
2016 0
Guatemala
1986 203
1987 241
1988 174
1989 152
1990 158
1991 156
1992 173
1993 165
1994 142
1995 211
1996 157
1997 179
1998 201
1999 234
2000 182
2001 202
2002 258
2003 253
2004 250
2005 238
2006 298
2007 327
2008 492
2009 511
2010 352
2011 359
2012 420
2013 455
2014 512
2015 494
Guyana
1988 56
1989 94
1990 89
1991 105
1992 78
1993 72
1994 86
1995 99
1996 60
1997 40
1998 35
1999 163
2001 197
2002 176
2003 198
2004 186
2005 169
2006 201
2007 185
2008 168
2009 156
2010 205
2011 192
2012 206
2013 210
Hungary
1991 3993
1992 4000
1993 3694
1994 3625
1995 3366
1996 3436
1997 3208
1998 3245
1999 3326
2000 3269
2001 2978
2002 2839
2003 2800
2004 2742
2005 2619
2006 2461
2007 2450
2008 2476
2009 2460
2010 2489
2011 2420
2012 2349
2013 2092
2014 1925
2015 1868
2016 1761

Iceland
1985 32
1986 37
1987 36
1988 35
1989 22
1990 40
1991 37
1992 28
1993 26
1994 25
1995 27
1996 33
1997 33
1998 30
1999 31
2000 50
2001 36
2002 30
2003 26
2004 35
2005 33
2006 32
2007 37
2008 38
2009 36
2010 46
2011 27
2012 37
2013 49
2014 44
2015 40
2016 40
Ireland
1985 276
1986 282
1987 245
1988 266
1989 278
1990 334
1991 345
1992 362
1993 326
1994 394
1995 403
1996 408
1997 466
1998 498
1999 424
2000 463
2001 488
2002 449
2003 454
2004 464
2005 451
2006 452
2007 458
2008 506
2009 527
2010 486
2011 554
2012 542
2013 487
2014 486
Israel
1985 234
1986 278
1987 271
1988 303
1989 353
1990 304
1991 359
1992 381
1993 371
1994 416
1995 360
1996 306
1997 379
1998 318
1999 368
2000 394
2001 398
2002 382
2003 417
2004 411
2005 425
2006 367
2007 326
2008 354
2009 404
2010 480
2011 409
2012 430
2013 372
2014 382
2015 342
Italy
1985 4759
1986 4691
1987 4516
1988 4381
1989 4342
1990 4402
1991 4453
1992 4543
1993 4697
1994 4536
1995 4569
1996 4689
1997 4694
1998 4504
1999 4115
2000 4108
2001 4030
2002 4069
2003 4075
2004 3986
2005 3742
2006 3700
2007 3757
2008 3904
2009 3974
2010 3989
2011 4153
2012 4257
2013 4290
2014 4147
2015 3988
Jamaica
1985 8
1986 1
1987 13
1988 5
1989 0
1990 3
1991 1
2000 3
2001 5
2002 2
2003 2
2004 1
2005 51
2006 0
2009 36
2010 3
2011 50
Japan
1985 23257
1986 25484
1987 23663
1988 22676
1989 21013
1990 20002
1991 19780
1992 20756
1993 20353
1994 20744
1995 21249
1996 21967
1997 23280
1998 31458
1999 31115
2000 29989
2001 29132
2002 29715
2003 31881
2004 30034
2005 30369
2006 29769
2007 30665
2008 30073
2009 30523
2010 29411
2011 28766
2012 26338
2013 25991
2014 24357
2015 23092
Kazakhstan
1990 3172
1991 3082
1992 3356
1993 4019
1994 4024
1995 4706
1996 4773
1997 4642
1998 4313
1999 3991
2000 4428
2001 4377
2002 4240
2003 4321
2004 4394
2005 3903
2006 4076
2007 4141
2008 3997
2009 3838
2010 3609
2011 3401
2012 3240
2013 3512
2014 3119
2015 2872
Kiribati
1991 10
1992 4
1993 12
1994 10
1995 2
1996 6
1997 5
1998 4
1999 0
2000 0
2001 0
Kuwait
1985 17
1986 16
1987 16
1993 18
1994 30
1995 26
1996 30
1997 33
1998 35
1999 46
2000 34
2001 30
2002 45
2003 44
2004 45
2005 52
2006 45
2007 51
2008 47
2009 61
2010 39
2011 41
2012 56
2013 41
2014 68
Kyrgyzstan
1990 547
1991 543
1992 491
1993 563
1994 581
1995 605
1996 480
1997 496
1998 509
1999 556
2000 510
2001 560
2002 567
2003 479
2004 438
2005 470
2006 463
2007 482
2008 473
2009 458
2010 500
2011 471
2012 524
2013 446
2014 461
2015 417
Latvia
1995 1024
1996 922
1997 886
1998 839
1999 763
2000 770
2001 708
2002 670
2003 604
2004 563
2005 564
2006 487
2007 453
2008 527
2009 516
2010 438
2011 440
2012 444
2013 383
2014 382
2015 387
Lithuania
1995 1694
1996 1722
1997 1632
1998 1553
1999 1550
2000 1631
2001 1533
2002 1551
2003 1455
2004 1380
2005 1319
2006 1049
2007 1025
2008 1111
2009 1138
2010 1018
2011 1018
2012 927
2013 1085
2014 930
2015 896
2016 822
Luxembourg
1985 55
1986 51
1987 74
1988 69
1989 73
1990 68
1991 77
1992 59
1993 64
1994 74
1995 63
1996 72
1997 81
1998 64
1999 70
2000 62
2001 73
2002 85
2003 48
2004 62
2005 49
2006 65
2007 78
2008 43
2009 48
2010 54
2011 55
2012 51
2013 40
2014 67
2015 64
Macau
1994 27
Maldives
2000 0
2001 3
2002 3
2003 4
2004 1
2005 1
2007 5
2008 0
2010 1
2011 2
Malta
1985 2
1986 1
1987 1
1988 9
1989 23
1990 8
1991 10
1992 18
1993 16
1994 15
1995 17
1996 10
1997 15
1998 12
1999 27
2000 23
2001 30
2002 19
2003 20
2004 24
2005 19
2006 26
2007 26
2008 14
2009 36
2010 31
2011 20
2012 25
2013 22
2014 32
2015 34
Mauritius
1985 104
1986 28
1987 140
1988 167
1989 144
1990 147
1991 137
1992 146
1993 138
1994 129
1995 147
1996 153
1997 122
1998 155
1999 174
2000 137
2001 113
2002 131
2003 88
2004 97
2005 102
2006 118
2007 127
2008 84
2009 115
2010 98
2011 118
2012 115
2013 98
2014 120
2015 104
2016 98
Mexico
1985 1544
1986 1714
1987 1701
1988 1703
1989 1865
1990 1926
1991 2103
1992 2237
1993 2342
1994 2588
1995 2877
1996 3008
1997 3350
1998 3312
1999 3327
2000 3456
2001 3760
2002 3826
2003 4070
2004 4056
2005 4274
2006 4230
2007 4285
2008 4642
2009 5023
2010 4858
2011 5558
2012 5381
2013 5711
2014 6178
2015 6234
Mongolia
2016 423
Montenegro
2000 0
2001 0
2002 0
2003 0
2004 0
2005 118
2006 0
2007 121
2008 126
2009 107
Netherlands
1985 1638
1986 1604
1987 1616
1988 1523
1989 1520
1990 1450
1991 1611
1992 1587
1993 1555
1994 1584
1995 1511
1996 1577
1997 1572
1998 1519
1999 1519
2000 1501
2001 1474
2002 1570
2003 1502
2004 1514
2005 1574
2006 1525
2007 1354
2008 1439
2009 1530
2010 1604
2011 1650
2012 1756
2013 1856
2014 1839
2015 1873
2016 1886
New Zealand
1985 338
1986 414
1987 463
1988 484
1989 465
1990 455
1991 474
1992 493
1993 443
1994 512
1995 545
1996 540
1997 562
1998 574
1999 516
2000 458
2001 508
2002 467
2003 519
2004 495
2005 514
2006 527
2007 494
2008 520
2009 512
2010 536
2011 493
2012 549
2013 513
Nicaragua
2010 351
2011 369
2012 316
2013 351
2014 311
2015 315
Norway
1986 579
1987 649
1988 708
1989 660
1990 659
1991 675
1992 616
1993 590
1994 531
1995 548
1996 517
1997 533
1998 548
1999 583
2000 541
2001 549
2002 494
2003 502
2004 529
2005 533
2006 532
2007 485
2008 505
2009 573
2010 548
2011 598
2012 515
2013 554
2014 548
2015 590
Oman
2009 13
2010 13
2014 7
Panama
1985 56
1986 82
1987 85
1988 87
1989 70
1996 113
1997 145
1998 148
1999 143
2000 143
2001 162
2002 160
2003 195
2004 186
2005 172
2006 185
2007 171
2008 186
2009 177
2010 151
2011 144
2012 135
2013 130
2014 147
2015 110
Paraguay
1985 63
1986 56
1987 62
1989 67
1990 99
1991 75
1994 108
1995 118
1996 99
1997 126
1998 138
1999 161
2000 154
2001 152
2002 177
2003 174
2004 234
2005 239
2006 251
2007 227
2008 222
2009 283
2010 223
2011 298
2012 275
2013 323
2014 379
Philippines
1992 347
1993 846
1997 814
1998 883
1999 1043
2000 1403
2001 1204
2002 1301
2003 1544
2006 1788
2007 1698
2008 1820
2009 2074
2010 2116
2011 2449
Poland
1990 4970
1991 5316
1992 5713
1993 5624
1994 5519
1995 5499
1996 5446
1999 5779
2000 5841
2001 5855
2002 5925
2003 5836
2004 6072
2005 6045
2006 5805
2007 5284
2008 5682
2009 6477
2010 6357
2011 6113
2012 6368
2013 6218
2014 5934
2015 5420
Portugal
1985 983
1986 941
1987 960
1988 819
1989 747
1990 870
1991 942
1992 866
1993 780
1994 762
1995 809
1996 653
1997 628
1998 556
1999 545
2000 524
2001 761
2002 1210
2003 1156
2007 1020
2008 1038
2009 1025
2010 1099
2011 1017
2012 1076
2013 1052
2014 1222
Puerto Rico
1985 269
1986 310
1987 272
1988 314
1989 327
1990 371
1991 355
1992 314
1993 345
1994 355
1995 289
1996 331
1997 273
1998 321
1999 289
2000 305
2001 289
2002 239
2003 262
2004 279
2005 289
2006 265
2007 271
2008 300
2009 330
2010 286
2011 258
2012 248
2013 241
2014 220
2015 226
Qatar
1995 0
2001 23
2004 21
2005 17
2006 29
2007 41
2008 33
2009 44
2010 47
2011 50
2012 43
2013 37
2014 55
2015 66
2016 68
Republic of Korea
1985 3689
1986 3458
1987 3301
1988 2949
1989 3023
1990 3159
1991 3069
1992 3533
1993 4124
1994 4212
1995 4841
1996 5857
1997 6024
1998 8569
1999 7075
2000 6444
2001 6911
2002 8611
2003 10898
2004 11492
2005 12011
2006 10653
2007 12174
2008 12858
2009 15402
2010 15558
2011 15906
2012 14159
2013 14426
2014 13834
2015 13510
Romania
1989 2529
1990 2079
1991 2161
1992 2650
1993 2774
1994 2887
1995 2793
1996 2828
1997 2859
1998 2838
1999 2736
2000 2836
2001 2720
2002 3067
2003 2894
2004 2720
2005 2603
2006 2721
2007 2430
2008 2472
2009 2586
2010 2766
2011 2536
2012 2495
2013 2407
2014 2209
2015 2228
2016 1953
Russian Federation
1989 37921
1990 39028
1991 39281
1992 45923
1993 55846
1994 61420
1995 60548
1996 57511
1997 54746
1998 51518
1999 56974
2000 56619
2001 56958
2002 55024
2003 51445
2004 49096
2005 45802
2006 42614
2007 41149
2008 38211
2009 37408
2010 33356
2011 31038
2012 29643
2013 28690
2014 26541
2015 25432
Saint Kitts and Nevis
1990 0
1991 0
1992 0
Saint Lucia
1986 5
1987 11
1988 10
1989 8
1990 3
1991 6
1992 11
1993 8
1994 6
1995 10
1996 7
1997 9
1998 8
1999 8
2000 14
2001 7
2002 12
2003 10
2004 8
2005 4
2006 2
2008 0
2009 13
2010 4
2011 8
2012 10
2013 14
2014 14
Saint Vincent and Grenadines
1985 2
1986 0
1987 0
1990 5
1995 7
1996 8
1997 3
1998 10
1999 6
2000 5
2001 8
2002 7
2003 4
2004 4
2005 8
2006 6
2007 11
2008 4
2009 1
2010 5
2011 5
2012 10
2013 0
2014 2
2015 3
San Marino
1999 2
2000 1
2005 1
Serbia
1998 1460
1999 1571
2000 1543
2001 1442
2002 1446
2003 1378
2004 1345
2005 1437
2006 1443
2007 1353
2008 1289
2009 1373
2010 1207
2011 1256
2012 1243
2013 1197
2014 1134
2015 1062
Seychelles
1985 8
1986 1
1987 3
2001 6
2002 5
2003 8
2004 6
2005 5
2006 8
2007 6
2008 4
2009 4
2010 6
2011 5
2012 3
2013 9
2014 4
2015 7
Singapore
1985 324
1986 326
1987 301
1988 366
1989 394
1990 354
1991 296
1992 277
1993 270
1994 316
1995 364
1996 239
1997 303
1998 328
1999 277
2000 309
2001 305
2002 321
2003 320
2004 335
2005 359
2006 372
2007 328
2008 319
2009 349
2010 296
2011 308
2012 392
2013 357
2014 355
2015 329
Slovakia
1992 796
1993 738
1994 691
1995 735
1996 672
1997 630
1998 673
1999 692
2000 729
2001 692
2002 717
2003 753
2004 676
2005 679
2006 0
2007 0
2008 591
2009 601
2010 631
2012 571
2013 616
2014 554
Slovenia
1995 564
1996 607
1997 593
1998 612
1999 590
2000 588
2001 581
2002 540
2003 562
2004 512
2005 503
2006 529
2007 434
2008 408
2009 447
2010 414
2011 435
2012 440
2013 446
2014 388
2015 422
South Africa
1996 143
1997 104
1998 180
1999 279
2000 267
2001 384
2002 236
2003 256

2004 383
2005 458
2006 514
2007 417
2008 441
2009 372
2010 393
2011 358
2012 487
2013 587
2014 580
2015 482
Spain
1985 2514
1986 2755
1987 2804
1988 2960
1989 2987
1990 2939
1991 2916
1992 2786
1993 3037
1994 3171
1995 3157
1996 3320
1997 3373
1998 3261
1999 3220
2000 3394
2001 3189
2002 3372
2003 3478
2004 3508
2005 3399
2006 3247
2007 3264
2008 3457
2009 3429
2010 3158
2011 3180
2012 3539
2013 3873
2014 3911
2015 3604
Sri Lanka
1985 5668
1986 5345
1996 4898
1997 5887
1998 5518
1999 5619
2000 5252
2001 4590
2002 4382
2003 4467
2006 4015
Suriname
1985 80
1986 42
1987 52
1988 49
1989 53
1990 26
1991 57
1992 48
1995 55
1996 21
1997 32
1998 29
1999 49
2000 52
2001 72
2002 69
2003 77
2004 67
2005 72
2006 112
2007 119
2008 147
2009 131
2010 136
2011 127
2012 133
2013 131
2014 128
Sweden
1987 1541
1988 1590
1989 1579
1990 1471
1991 1483
1992 1355
1993 1373
1994 1324
1995 1348
1996 1253
1997 1201
1998 1231
1999 1220
2000 1131
2001 1197
2002 1180
2003 1112
2004 1155
2005 1219
2006 1197
2007 1126
2008 1170
2009 1242
2010 1141
2011 1112
2012 1154
2013 1230
2014 1148
2015 1182
2016 1130
Switzerland
1995 1419
1996 1432
1997 1341
1998 1371
1999 1296
2000 1380
2001 1338
2002 1446
2003 1269
2004 1284
2005 1299
2006 1309
2007 1360
2008 1314
2009 1105
2010 1006
2011 1034
2012 1038
2013 1071
2014 1032
2015 1073
Thailand
1985 2982
1986 2798
1987 3035
1990 3753
1991 3559
1992 3550
1994 2307
1995 4245
1996 4443
1997 4150
1998 4963
1999 5276
2000 5182
2002 4902
2003 4484
2004 4296
2005 3937
2006 3608
2007 3754
2008 3778
2009 3787
2010 3761
2011 3873
2012 3985
2013 3961
2014 3952
2015 4205
2016 4117
Trinidad and Tobago
1985 29
1986 104
1987 119
1988 164
1989 173
1990 170
1991 148
1992 163
1993 174
1994 148
1995 184
1996 146
1997 160
1998 171
1999 139
2000 166
2001 179
2002 156
2003 144
2004 168
2005 136
2006 141
2007 131
2008 199
2009 128
2010 160
2011 139
Turkey
2009 1050
2010 1524
2011 1148
2012 1450
2013 1810
2014 1617
2015 1532
Turkmenistan
1987 272
1988 270
1989 253
1990 298
1991 273
1992 271
1993 240
1994 234
1995 244
1996 283
1997 333
1998 405
1999 442
2000 383
2001 445
2002 416
2003 377
2004 392
2005 468
2006 506
2007 354
2008 484
2009 165
2010 178
2011 130
2012 138
2013 101
2014 136
2015 133
Ukraine
1987 10050
1988 9751
1989 10887
1990 10645
1991 10700
1992 11666
1993 12469
1994 13826
1995 14541
1996 15160
1997 14903
1998 14789
1999 14363
2000 14467
2001 13131
2002 12536
2003 12313
2004 11256
2005 10621
2006 10013
2007 10032
2008 9454
2009 9715
2010 9089
2011 8973
2012 9058
2014 7968
2015 7574
United Arab Emirates
2005 96
2006 90
2007 101
2008 100
2009 124
2010 111
United Kingdom
1985 5105
1986 4839
1987 4594
1988 4971
1989 4361
1990 4643
1991 4547
1992 4628
1993 4462
1994 4380
1995 4315
1996 4165
1997 4143
1998 4389
1999 4448
2000 4290
2001 4128
2002 4117
2003 3979
2004 4183
2005 4047
2006 4122
2007 3897
2008 4259
2009 4246
2010 4188
2011 4393
2012 4444
2013 4824
2014 4788
2015 4910
United States
1985 29446
1986 30892
1987 30783
1988 30388
1989 30218
1990 30895
1991 30790
1992 30471
1993 31084
1994 31123
1995 31272
1996 30879
1997 30517
1998 30558
1999 29183
2000 29343
2001 30607
2002 31645
2003 31477
2004 32428
2005 32629
2006 33292
2007 34596
2008 36030
2009 36900
2010 38362
2011 39508
2012 40596
2013 41143
2014 42769
2015 44189
Uruguay
1985 287
1986 262
1987 258
1988 268
1989 344
1990 315
1993 418
1994 406
1995 427
1996 393
1997 456
1998 521
1999 450
2000 555
2001 499
2002 675
2003 535
2004 520
2005 498
2006 528
2007 576
2008 523
2009 511
2010 547
2012 599
2013 546
2014 591
2015 630
Uzbekistan
1990 1459
1991 1393
1992 1344
1993 1355
1994 1419
1995 1485
1996 1699
1997 1554
1998 1620
1999 1795
2000 1919
2001 1914
2002 1576
2003 1416
2004 1251
2005 1221
2009 1399
2010 1464
2011 1640
2012 1835
2013 1950
2014 2095

### 4.2 Посчитать количество самоубийств по поколениям и возрасту, независимо от страны и года

должены получится две одномерные матрицы и аналог двумерной матрицы. (количество самоубийств по возрастам, поколениям. и по возрастам и поколениям одновременно)

In [61]:
years = data.year.unique()
generations = data.generation.unique()

In [62]:
for year in years:
    print(year, data[data.year == year].suicides_no.sum())

1987 126842
1988 121026
1989 160244
1992 211473
1993 221565
1994 232063
1995 243544
1996 246725
1997 240745
1998 249591
1999 256119
2000 255832
2001 250652
2002 256095
2003 256079
2004 240861
2005 234375
2006 233361
2007 233408
2008 235447
2009 243487
2010 238702
1985 116063
1986 120670
1990 193361
1991 198020
2012 230160
2013 223199
2014 222984
2015 203640
2011 236484
2016 15603

In [63]:
for generation in generations:
    print(generation, data[data.generation == generation].suicides_no.sum())

Generation X 1532804
Silent 1781744
G.I. Generation 510009
Boomers 2284498
Millenials 623459
Generation Z 15906

In [67]:
res = pd.DataFrame(index=years, columns=generations)
for year in years:
    data_year = data[data.year == year]
    for generation in generations:
        res.loc[year, generation] = data_year[data_year.generation == generation].suicides_no.sum()
        print(year, generation, data_year[data_year.generation == generation].suicides_no.sum())

1987 Generation X 17367
1987 Silent 40649
1987 G.I. Generation 46517
1987 Boomers 22309
1987 Millenials 0
1987 Generation Z 0
1988 Generation X 16174
1988 Silent 38770
1988 G.I. Generation 44750
1988 Boomers 21332
1988 Millenials 0
1988 Generation Z 0
1989 Generation X 19786
1989 Silent 53541
1989 G.I. Generation 57490
1989 Boomers 29427
1989 Millenials 0
1989 Generation Z 0
1992 Generation X 24727
1992 Silent 51506
1992 G.I. Generation 20744
1992 Boomers 112809
1992 Millenials 1687
1992 Generation Z 0
1993 Generation X 25262
1993 Silent 54278
1993 G.I. Generation 20522
1993 Boomers 119714
1993 Millenials 1789
1993 Generation Z 0
1994 Generation X 27296
1994 Silent 56576
1994 G.I. Generation 20499
1994 Boomers 125932
1994 Millenials 1760
1994 Generation Z 0
1995 Generation X 71832
1995 Silent 59138
1995 G.I. Generation 20901
1995 Boomers 89752
1995 Millenials 1921
1995 Generation Z 0
1996 Generation X 72958
1996 Silent 59979
1996 G.I. Generation 20643
1996 Boomers 91280
1996 Millenials 1865
1996 Generation Z 0
1997 Generation X 71315
1997 Silent 58672
1997 G.I. Generation 20866
1997 Boomers 88012
1997 Millenials 1880
1997 Generation Z 0
1998 Generation X 72523
1998 Silent 61642
1998 G.I. Generation 21717
1998 Boomers 91627
1998 Millenials 2082
1998 Generation Z 0
1999 Generation X 73550
1999 Silent 62664
1999 G.I. Generation 21633
1999 Boomers 96223
1999 Millenials 2049
1999 Generation Z 0
2000 Generation X 73347
2000 Silent 60973
2000 G.I. Generation 21633
2000 Boomers 97814
2000 Millenials 2065
2000 Generation Z 0
2001 Generation X 40279
2001 Silent 80474
2001 G.I. Generation 0
2001 Boomers 96998
2001 Millenials 32901
2001 Generation Z 0
2002 Generation X 41536
2002 Silent 82733
2002 G.I. Generation 0
2002 Boomers 98675
2002 Millenials 33151
2002 Generation Z 0
2003 Generation X 41053
2003 Silent 83902
2003 G.I. Generation 0
2003 Boomers 98693
2003 Millenials 32431
2003 Generation Z 0
2004 Generation X 38221
2004 Silent 79568
2004 G.I. Generation 0
2004 Boomers 92531
2004 Millenials 30541
2004 Generation Z 0
2005 Generation X 37442
2005 Silent 79037
2005 G.I. Generation 0
2005 Boomers 88498
2005 Millenials 29398
2005 Generation Z 0
2006 Generation X 37221
2006 Silent 79416
2006 G.I. Generation 0
2006 Boomers 87032
2006 Millenials 29692
2006 Generation Z 0
2007 Generation X 37936
2007 Silent 80382
2007 G.I. Generation 0
2007 Boomers 85749
2007 Millenials 27670
2007 Generation Z 1671
2008 Generation X 37756
2008 Silent 81242
2008 G.I. Generation 0
2008 Boomers 86664
2008 Millenials 28145
2008 Generation Z 1640
2009 Generation X 39389
2009 Silent 83386
2009 G.I. Generation 0
2009 Boomers 90390
2009 Millenials 28487
2009 Generation Z 1835
2010 Generation X 125681
2010 Silent 83577
2010 G.I. Generation 0
2010 Boomers 0
2010 Millenials 27684
2010 Generation Z 1760
1985 Generation X 18854
1985 Silent 35748
1985 G.I. Generation 40690
1985 Boomers 20771
1985 Millenials 0
1985 Generation Z 0
1986 Generation X 19007
1986 Silent 37558
1986 G.I. Generation 42420
1986 Boomers 21685
1986 Millenials 0
1986 Generation Z 0
1990 Generation X 24725
1990 Silent 65242
1990 G.I. Generation 68118
1990 Boomers 35276
1990 Millenials 0
1990 Generation Z 0
1991 Generation X 23317
1991 Silent 48315
1991 G.I. Generation 20866
1991 Boomers 103989
1991 Millenials 1533
1991 Generation Z 0
2012 Generation X 82482
2012 Silent 24578
2012 G.I. Generation 0
2012 Boomers 58443
2012 Millenials 62905
2012 Generation Z 1752
2013 Generation X 80227
2013 Silent 24153
2013 G.I. Generation 0
2013 Boomers 57696
2013 Millenials 59317
2013 Generation Z 1806
2014 Generation X 79132
2014 Silent 24865
2014 G.I. Generation 0
2014 Boomers 57696
2014 Millenials 59409
2014 Generation Z 1882
2015 Generation X 71298
2015 Silent 23114
2015 G.I. Generation 0
2015 Boomers 53588
2015 Millenials 53959
2015 Generation Z 1681
2011 Generation X 85345
2011 Silent 24209
2011 G.I. Generation 0
2011 Boomers 59178
2011 Millenials 65873
2011 Generation Z 1879
2016 Generation X 5766
2016 Silent 1857
2016 G.I. Generation 0
2016 Boomers 4715
2016 Millenials 3265
2016 Generation Z 0

In [68]:
res

      Generation X  Silent  G.I. Generation  Boomers  Millenials  Generation Z
1987         17367   40649            46517    22309           0             0
1988         16174   38770            44750    21332           0             0
1989         19786   53541            57490    29427           0             0
1992         24727   51506            20744   112809        1687             0
1993         25262   54278            20522   119714        1789             0
1994         27296   56576            20499   125932        1760             0
1995         71832   59138            20901    89752        1921             0
1996         72958   59979            20643    91280        1865             0
1997         71315   58672            20866    88012        1880             0
1998         72523   61642            21717    91627        2082             0
1999         73550   62664            21633    96223        2049             0
2000         73347   60973            21633    97814        2065             0
2001         40279   80474                0    96998       32901             0
2002         41536   82733                0    98675       33151             0
2003         41053   83902                0    98693       32431             0
2004         38221   79568                0    92531       30541             0
2005         37442   79037                0    88498       29398             0
2006         37221   79416                0    87032       29692             0
2007         37936   80382                0    85749       27670          1671
2008         37756   81242                0    86664       28145          1640
2009         39389   83386                0    90390       28487          1835
2010        125681   83577                0        0       27684          1760
1985         18854   35748            40690    20771           0             0
1986         19007   37558            42420    21685           0             0
1990         24725   65242            68118    35276           0             0
1991         23317   48315            20866   103989        1533             0
2012         82482   24578                0    58443       62905          1752
2013         80227   24153                0    57696       59317          1806
2014         79132   24865                0    57696       59409          1882
2015         71298   23114                0    53588       53959          1681
2011         85345   24209                0    59178       65873          1879
2016          5766    1857                0     4715        3265             0